.buttonGroup {
  gap: 1rem !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: var(--text-primary);
}

@media (min-width: 768px) {
  .buttonGroup {
    flex-wrap: nowrap;
  }
}